@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

* {
    margin: 0;
    background-color: darkslateblue;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: antiquewhite;
    font-family: 'Josefin Sans';
    margin-top: 30px;
}

label {
    display: flex;
    margin-left: 33%;
    margin-top: 10px;
    color: antiquewhite;
    font-family: 'Josefin Sans';
}

input {
    display: block;
    margin-left: 33%;
    width: 35%;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: antiquewhite;
}

button {
    width: 20%;
    border: none;
    background: antiquewhite;
    color: darkolivegreen;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 10px;
    margin-left: 40%;
    font-family: 'Josefin Sans';
    font-size: 17px;
    cursor: pointer;
}